Host 192.168.50.*
  User ubuntu
  ServerAliveInterval    60
  TCPKeepAlive           yes
  GSSAPIAuthentication  no
  AddressFamily inet
  UserKnownHostsFile /dev/null
  StrictHostKeyChecking no

Host *.localdomain
  User ubuntu
  ServerAliveInterval    60
  TCPKeepAlive           yes
  GSSAPIAuthentication  no
  AddressFamily inet
  UserKnownHostsFile /dev/null
  StrictHostKeyChecking no
